certifi==2019.6.16
chardet==3.0.4
Click==7.0
cycler==0.10.0
Flask==1.1.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
scikit-image
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.1
numpy==1.16.4
gunicorn==19.0.0
Pillow==8.2.0
pyparsing==2.4.0
pyTelegramBotAPI==3.6.6
python-dateutil==2.8.0
requests==2.22.0
scipy==1.3.0
https://download.pytorch.org/whl/cpu/torch-1.1.0-cp36-cp36m-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.3.0-cp36-cp36m-linux_x86_64.whl
urllib3==1.25.3
Werkzeug==0.15.4
