<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>MedAI Industries</title>
  <style type="text/css">
    .asteriskField {
      display: none;
    }
    form .alert ul li {
      list-style: none;
    }
    form .alert ul {
      padding: 0;
      margin: 0;
    }
  </style>
<style>
body {
background-color: #039673
}
</style>


</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
      <a class="navbar-brand" style="color: #00FFFC">Med AI Industries</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
		<a class="nav-link" style="color: #FFFFFF"><strong>Home</strong></a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

<div class="container">
  <h2>Our Ethos</h2>
	<p><h5>
    <p>Here, in EyeMedIndustries, we specialize in developing and producing advanced technologies for predicting the pathogenesis of the human eye, and we strive to highlight, working with clients, the creation of progressive, forward-looking, non-standard add-ons that fit specific tasks and needs.</p>
    <p>We are proud to support our creative independence in a rapidly declining and highly competitive market.</p>
		We will help you to repel biological tyranny.</strong> <a style="color: #000000" href=https://t.me/MedEyeBot/>Try Now</a></strong>
	</h5></p>
</div>

</div>

	
